.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  border: 5px solid #70d7f7;
  border-radius: 50%; 
svg {
  font-size: 3rem;
}

}


