.skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .skills-category {
    margin-bottom: 20px;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .skills-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    .skill-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      text-align: center;
      padding: 15px;
      border: 1px solid white;
      border-radius: 15px;

      img {
        width: min-content;
        margin-inline: auto;
      }

      .skill-label {
        font-size: 1.2rem;
      }
    }
  }
}
